@model IEnumerable<PdfTool.Classes.Indicator>
@{
    foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ServerName
            </td>
            <td>
                @item.TagName
            </td>
            <td>
                @item.Value
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.Questionable
            </td>
            <td>
                @item.Substituted
            </td>
            <td>
                @item.Annotated
            </td>
        </tr>
    }
}

